<div class="card border-success mb-3" style="margin: 10px; padding: 10px">
    <div class="card-body-success">
{{ form_start(form) }}
    {{ form_widget(form) }}
        <table>
    <td><button class="btn btn-success">{{ button_label|default('Ajouter Cours') }}</button></td>
            <td> <a href="{{ path('cours_index') }}"> <button type="button" class="btn btn-primary">Affichier Les Cours</button></a></td>
        </table>
{{ form_end(form) }}
    </div>
</div>

